
.flex-container{
    background-color:rgb(24, 27, 203);
    flex-wrap: wrap;

}

.flex-container1{
    display: flex;
    margin: 2px;
 
}

.boxy{
    background-color: rgb(152, 149, 236);
    height: 100px;
    width: 1400px;
    text-align: center;
    padding-bottom: 40px;
   
}
.flex-container4{
    display: flex;
    margin: 2px;
} 

.flex-container3{
    display: flex;
    text-align: center;
}
.box{
    background-color: rgb(152, 149, 236);;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 1px;  
}
 .box2{
    width: 700px;
 }
 .boxx{
    background-color: rgb(152, 149, 236);
    height: 100px;
    width: 1400px;
    text-align: center;
    padding-bottom: 40px;
 }