.main-flex{
    flex-wrap: wrap;
    display: flex;
    background-color: black;
}

.header-flex{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    gap:20px;
    height: 80px;
}
.box1{
    display: flex;
   margin-left: 30px;
}
.box2{
    display: flex;
    padding-top: 8px;
}
.del-button{
background-color: rgb(39, 15, 15);
color: white;
border-color: red;
border-radius: 6px;
padding:4px;
font-size: 20px;
}
.pick-button{
    background-color:rgb(39, 15, 15);
    color: white;
    border-color: red;
    border-radius: 6px;
    padding:4px;
    font-size: 20px;
}
.box5{
  padding-left: 600px;
  background-color: black;
}
.login{
 display: flex;
 background-color: red;
 color: white;
 border-radius: 6px;
 font-size: 19px;
 padding: 6px ;
 padding-left: 9px;
 padding-right: 9px;
}
.rowflex{
    flex-wrap: wrap;
    display: flex;
    background-color: black;
    width: 1250px;
    height: 480px; 
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.box7{
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 15, 15);
    width: 400px;
    height: 350px;
    margin: 0px;
}
.box8{
    justify-content: center;
    align-items: center;
    background-color:rgb(39, 15, 15);
    width: 400px;
    height: 350px;
    margin: 0px;
}
.box9{
    color: aliceblue;
}
.box10{
    background-color: orange;
}
.box11{
background-color: purple;
}
.box12{
    background-color: pink;
}
.box13{
    background-color: brown;
}