.mybutton:hover{
    background-color: aquamarine;
    border: solid black;
    border-color: blueviolet;
    border-style: solid;
    align-items: center;
    color: brown;
}
/*.wrapper:hover{
    background-color: blue;
}